.flash {
	text-align: center;
	font-size: 1.4em;
}

.big-btn{
	width: 250px;
}

.notice {
	color: orange;
	background: darkgreen;
}

.alert {
	color: yellow;
	background: red;
}

.icon-red {
	color: red;
	font-size: 1.5em;
}

.icon-blue {
	color: blue;
	font-size: 1.5em;
}

.icon-green {
	color: green;
	font-size: 1.5em;
}