/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background-color: lightblue;
}
nav {
	height: 90%;
	width: 20%;
	float: left;
	background-color: lightblue;
	position: fixed;
}

main {
	width: 80%;
	height: auto;
	float: right;
	background-color: lightgreen;
	padding: 0;

}

header {
	background-color: #eee;
	font: 35px arial;
	text-align: center;
	height: 10%;
}


.table1 {
	background-color: lightgreen;
	border-collapse: collapse;
	border:0;
}


.tr1:nth-child(even) {
	background-color: #F781F3;
}

.td1 {
}