<%# add navigation links to this file %>
<li class="name"><%= link_to 'Test', test_path %></li>
<li class="name"><%= link_to "Neues Project anlegen", new_project_path %></li>
<li class="name"><%= link_to "User anlegen", signup_path %></li>